bin/
obj/
*/obj/
*/bin/*
Inventory.Application.Companies.Contracts/bin/Debug/Inventory.Application.Companies.Contracts.dll
Inventory.Application.Companies.Contracts/bin/Debug/Inventory.Application.Companies.Contracts.pdb
Inventory.Application.Companies.Contracts/obj/Debug/Inventory.Application.Companies.Contracts.csprojResolveAssemblyReference.cache
Inventory.Application.Companies.Contracts/obj/Debug/Inventory.Application.Companies.Contracts.dll
Inventory.Application.Companies.Contracts/obj/Debug/Inventory.Application.Companies.Contracts.pdb
Inventory.Application.Companies.Test.Unit/bin/Debug/Inventory.Application.Companies.Test.Unit.dll
Inventory.Application.Companies.Test.Unit/bin/Debug/Inventory.Application.Companies.Test.Unit.pdb
Inventory.Application.Companies.Test.Unit/obj/Debug/Inventory.Application.Companies.Test.Unit.dll
Inventory.Application.Companies.Test.Unit/obj/Debug/Inventory.Application.Companies.Test.Unit.pdb
Inventory.Application.Companies/bin/Debug/Inventory.Application.Companies.Contracts.dll
Inventory.Application.Companies/bin/Debug/Inventory.Application.Companies.Contracts.pdb
Inventory.Application.Companies/bin/Debug/Inventory.Application.Companies.dll
Inventory.Application.Companies/bin/Debug/Inventory.Application.Companies.pdb
Inventory.Application.Companies/obj/Debug/Inventory.Application.Companies.dll
Inventory.Application.Companies/obj/Debug/Inventory.Application.Companies.pdb
Inventory.Application.Credits.Contracts/bin/Debug/Inventory.Application.Credits.Contracts.dll
Inventory.Application.Credits.Contracts/bin/Debug/Inventory.Application.Credits.Contracts.pdb
Inventory.Application.Credits.Contracts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Inventory.Application.Credits.Contracts/obj/Debug/Inventory.Application.Credits.Contracts.csprojResolveAssemblyReference.cache
Inventory.Application.Credits.Contracts/obj/Debug/Inventory.Application.Credits.Contracts.dll
Inventory.Application.Credits.Contracts/obj/Debug/Inventory.Application.Credits.Contracts.pdb
Inventory.Application.Credits.Test.Unit/bin/Debug/Inventory.Application.Credits.Test.Unit.dll
Inventory.Application.Credits.Test.Unit/bin/Debug/Inventory.Application.Credits.Test.Unit.pdb
Inventory.WPF.UI/bin/Debug/Inventory.Application.Companies.Contracts.dll
Inventory.WPF.UI/bin/Debug/Inventory.Application.Companies.Contracts.pdb
Inventory.WPF.UI/bin/Debug/Inventory.Application.Companies.dll
Inventory.WPF.UI/bin/Debug/Inventory.Application.Companies.pdb
Inventory.WPF.UI/bin/Debug/Inventory.Application.Credits.Contracts.dll
Inventory.WPF.UI/bin/Debug/Inventory.Application.Credits.Contracts.pdb
Inventory.WPF.UI/bin/Debug/Inventory.Application.Credits.dll
Inventory.WPF.UI/bin/Debug/Inventory.Application.Credits.pdb
Inventory.WPF.UI/bin/Debug/Inventory.Application.Sales.Contracts.dll
Inventory.WPF.UI/bin/Debug/Inventory.Application.Sales.Contracts.pdb
Inventory.WPF.UI/bin/Debug/Inventory.Application.Sales.dll
Inventory.WPF.UI/bin/Debug/Inventory.Application.Sales.pdb
Inventory.WPF.UI/bin/Debug/Inventory.DependencyInjector.dll
Inventory.WPF.UI/bin/Debug/Inventory.DependencyInjector.pdb
Inventory.WPF.UI/bin/Debug/Inventory.DependencyResolver.dll
Inventory.WPF.UI/bin/Debug/Inventory.DependencyResolver.pdb
Inventory.WPF.UI/bin/Debug/Inventory.Repository.Base.Contracts.dll
Inventory.WPF.UI/bin/Debug/Inventory.Repository.Base.Contracts.pdb
Inventory.WPF.UI/bin/Debug/Inventory.Repository.Companies.Contracts.dll
Inventory.WPF.UI/bin/Debug/Inventory.Repository.Companies.Contracts.pdb
Inventory.WPF.UI/bin/Debug/Inventory.Repository.Fake.dll
Inventory.WPF.UI/bin/Debug/Inventory.Repository.Fake.pdb
Inventory.WPF.UI/bin/Debug/Inventory.Repository.Sales.Contracts.dll
Inventory.WPF.UI/bin/Debug/Inventory.Repository.Sales.Contracts.pdb
Inventory.WPF.UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Inventory.WPF.UI/obj/Debug/Inventory.WPF.UI_MarkupCompile.i.cache
Inventory.Repository.Fake/bin/Debug/Inventory.Repository.Base.Contracts.dll
Inventory.Repository.Fake/bin/Debug/Inventory.Repository.Base.Contracts.pdb
Inventory.Repository.Fake/bin/Debug/Inventory.Repository.Companies.Contracts.dll
Inventory.Repository.Fake/bin/Debug/Inventory.Repository.Companies.Contracts.pdb
Inventory.Repository.Fake/bin/Debug/Inventory.Repository.Fake.dll
Inventory.Repository.Fake/bin/Debug/Inventory.Repository.Fake.pdb
Inventory.Repository.Fake/bin/Debug/Inventory.Repository.Sales.Contracts.dll
Inventory.Repository.Fake/bin/Debug/Inventory.Repository.Sales.Contracts.pdb
Inventory.Repository.Fake/obj/Debug/Inventory.Repository.Fake.dll
Inventory.Repository.Fake/obj/Debug/Inventory.Repository.Fake.pdb
Inventory.Repository.Sales.Contracts/bin/Debug/Inventory.Repository.Base.Contracts.dll
Inventory.Repository.Sales.Contracts/bin/Debug/Inventory.Repository.Base.Contracts.pdb
Inventory.Repository.Sales.Contracts/bin/Debug/Inventory.Repository.Sales.Contracts.dll
Inventory.Repository.Sales.Contracts/bin/Debug/Inventory.Repository.Sales.Contracts.pdb
Inventory.Repository.Sales.Contracts/obj/Debug/Inventory.Repository.Sales.Contracts.dll
Inventory.Repository.Sales.Contracts/obj/Debug/Inventory.Repository.Sales.Contracts.pdb
Inventory.sln.DotSettings.user
Inventory.Repository.Base.Contracts/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Inventory.Repository.Base.Contracts/obj/Debug/Inventory.Repository.Base.Contracts.csprojResolveAssemblyReference.cache
Inventory.Repository.Base.Contracts/obj/Debug/Inventory.Repository.Base.Contracts.dll
Inventory.Repository.Base.Contracts/obj/Debug/Inventory.Repository.Base.Contracts.pdb
Inventory.Repository.Companies.Contracts/bin/Debug/Inventory.Repository.Base.Contracts.dll
Inventory.Repository.Companies.Contracts/bin/Debug/Inventory.Repository.Base.Contracts.pdb
Inventory.Repository.Companies.Contracts/bin/Debug/Inventory.Repository.Companies.Contracts.dll
Inventory.Repository.Companies.Contracts/bin/Debug/Inventory.Repository.Companies.Contracts.pdb
Inventory.Repository.Companies.Contracts/obj/Debug/Inventory.Repository.Companies.Contracts.dll
Inventory.Repository.Companies.Contracts/obj/Debug/Inventory.Repository.Companies.Contracts.pdb
Inventory.Repository.Credits.Contracts/bin/Debug/Inventory.Repository.Base.Contracts.dll
Inventory.Repository.Credits.Contracts/bin/Debug/Inventory.Repository.Base.Contracts.pdb
Inventory.Repository.Credits.Contracts/bin/Debug/Inventory.Repository.Credits.Contracts.dll
Inventory.Repository.Credits.Contracts/bin/Debug/Inventory.Repository.Credits.Contracts.pdb
Inventory.Repository.Credits.Contracts/obj/Debug/Inventory.Repository.Credits.Contracts.dll
Inventory.Repository.Credits.Contracts/obj/Debug/Inventory.Repository.Credits.Contracts.pdb
Inventory.Application.Credits/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Inventory.Application.Credits/obj/Debug/Inventory.Application.Credits.dll
Inventory.Application.Credits/obj/Debug/Inventory.Application.Credits.pdb
Inventory.Application.Sales.Contracts/bin/Debug/Inventory.Application.Sales.Contracts.dll
Inventory.Application.Sales.Contracts/bin/Debug/Inventory.Application.Sales.Contracts.pdb
Inventory.Application.Sales.Contracts/obj/Debug/Inventory.Application.Sales.Contracts.dll
Inventory.Application.Sales.Contracts/obj/Debug/Inventory.Application.Sales.Contracts.pdb
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.Application.Companies.Contracts.dll
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.Application.Companies.Contracts.pdb
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.Application.Sales.Contracts.dll
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.Application.Sales.Contracts.pdb
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.Application.Sales.dll
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.Application.Sales.pdb
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.Application.Sales.Test.Unit.dll
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.Application.Sales.Test.Unit.pdb
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.DependencyInjector.dll
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.DependencyInjector.pdb
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.Repository.Base.Contracts.dll
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.Repository.Base.Contracts.pdb
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.Repository.Sales.Contracts.dll
Inventory.Application.Sales.Test.Unit/bin/Debug/Inventory.Repository.Sales.Contracts.pdb
Inventory.Application.Sales.Test.Unit/obj/Debug/Inventory.Application.Sales.Test.Unit.dll
Inventory.Application.Sales.Test.Unit/obj/Debug/Inventory.Application.Sales.Test.Unit.pdb
Inventory.Application.Sales/bin/Debug/Inventory.Application.Companies.Contracts.dll
Inventory.Application.Sales/bin/Debug/Inventory.Application.Companies.Contracts.pdb
Inventory.Application.Sales/bin/Debug/Inventory.Application.Sales.Contracts.dll
Inventory.Application.Sales/bin/Debug/Inventory.Application.Sales.Contracts.pdb
Inventory.Application.Sales/bin/Debug/Inventory.Application.Sales.dll
Inventory.Application.Sales/bin/Debug/Inventory.Application.Sales.pdb
Inventory.Application.Sales/bin/Debug/Inventory.DependencyInjector.dll
Inventory.Application.Sales/bin/Debug/Inventory.DependencyInjector.pdb
Inventory.Application.Sales/bin/Debug/Inventory.Repository.Base.Contracts.dll
Inventory.Application.Sales/bin/Debug/Inventory.Repository.Base.Contracts.pdb
Inventory.Application.Sales/bin/Debug/Inventory.Repository.Sales.Contracts.dll
Inventory.Application.Sales/bin/Debug/Inventory.Repository.Sales.Contracts.pdb
Inventory.Application.Sales/obj/Debug/Inventory.Application.Sales.dll
Inventory.Application.Sales/obj/Debug/Inventory.Application.Sales.pdb
Inventory.DependencyInjector/bin/Debug/Inventory.DependencyInjector.dll
Inventory.DependencyInjector/bin/Debug/Inventory.DependencyInjector.pdb
Inventory.DependencyInjector/obj/Debug/Inventory.DependencyInjector.dll
Inventory.DependencyInjector/obj/Debug/Inventory.DependencyInjector.pdb
Inventory.DependencyResolver/bin/Debug/Inventory.Application.Companies.Contracts.dll
Inventory.DependencyResolver/bin/Debug/Inventory.Application.Companies.Contracts.pdb
Inventory.DependencyResolver/bin/Debug/Inventory.Application.Companies.dll
Inventory.DependencyResolver/bin/Debug/Inventory.Application.Companies.pdb
Inventory.DependencyResolver/bin/Debug/Inventory.Application.Credits.Contracts.dll
Inventory.DependencyResolver/bin/Debug/Inventory.Application.Credits.Contracts.pdb
Inventory.DependencyResolver/bin/Debug/Inventory.Application.Credits.dll
Inventory.DependencyResolver/bin/Debug/Inventory.Application.Credits.pdb
Inventory.DependencyResolver/bin/Debug/Inventory.Application.Sales.Contracts.dll
Inventory.DependencyResolver/bin/Debug/Inventory.Application.Sales.Contracts.pdb
Inventory.DependencyResolver/bin/Debug/Inventory.Application.Sales.dll
Inventory.DependencyResolver/bin/Debug/Inventory.Application.Sales.pdb
Inventory.DependencyResolver/bin/Debug/Inventory.DependencyInjector.dll
Inventory.DependencyResolver/bin/Debug/Inventory.DependencyInjector.pdb
Inventory.DependencyResolver/bin/Debug/Inventory.DependencyResolver.dll
Inventory.DependencyResolver/bin/Debug/Inventory.DependencyResolver.pdb
Inventory.DependencyResolver/bin/Debug/Inventory.Repository.Base.Contracts.dll
Inventory.DependencyResolver/bin/Debug/Inventory.Repository.Base.Contracts.pdb
Inventory.DependencyResolver/bin/Debug/Inventory.Repository.Companies.Contracts.dll
Inventory.DependencyResolver/bin/Debug/Inventory.Repository.Companies.Contracts.pdb
Inventory.DependencyResolver/bin/Debug/Inventory.Repository.Fake.dll
Inventory.DependencyResolver/bin/Debug/Inventory.Repository.Fake.pdb
Inventory.DependencyResolver/bin/Debug/Inventory.Repository.Sales.Contracts.dll
Inventory.DependencyResolver/bin/Debug/Inventory.Repository.Sales.Contracts.pdb
Inventory.DependencyResolver/obj/Debug/Inventory.DependencyResolver.dll
Inventory.DependencyResolver/obj/Debug/Inventory.DependencyResolver.pdb
Inventory.Repository.Base.Contracts/bin/Debug/Inventory.Repository.Base.Contracts.dll
Inventory.Repository.Base.Contracts/bin/Debug/Inventory.Repository.Base.Contracts.pdb
*/obj/*
